html{
    font-family: Hind, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*Header*/
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo{
    height: 64px;
    width: auto;
    margin-left: 24px;
}


span{
    font-size: 32px;
    color: #9F9F9F;
    text-transform: uppercase;
}

#colmar{
    color: #4a4a4a;
    font-weight: bold;
}

nav{
    margin-left: auto;
}

nav a{
    color: #4a4a4a;
    font-size: 24px;
    text-decoration: none;
    padding-right: 16px;
}

nav a:hover{
    cursor: pointer;
    font-weight: bolder;
}

#sign{
    padding-right: 24px;
}

/*Learn Something New Every Day*/

.learn{
    background-color: #D8D8D8;
    display: flex;
    align-items: center;
}

.learn-image{
    width: 60%;
}

.learn-image img{
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
}

.new{
    flex-direction: column;
    width: 25%;
    margin: auto;
}

.new h1,
p{
    color: #4a4a4a;
}

.new h1{
    font-weight: bolder;
    font-size: 56px;
}

.new p{
    font-weight: bold;
    font-size: 32px;
}

.button{
    background-color: #4a4a4a;
    color: #ffffff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: normal;
}

.button:hover{
    cursor: pointer;
}

/*Keep Practicing*/

.details{
    display: flex;
    background-color: #f3f5f5;
}

.information{
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
}

.information img{
    padding-top: 32px;
    height: auto;
}

.information h2{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 24px;
}

#quote{
    font-size: 24px;
    text-transform: none;
    margin-bottom: 32px;
    color: #4d4d4d;
}

#emanuel{
    font-size: 20px;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 32px;
    color: #4d4d4d;
}

.orientation, .campus, .guest{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.other img{
  width: 35%;
  height: auto;
  padding: 16px;
  align-items: flex-start;
}

.text{
  flex-direction: column;
}

.text h2{
    font-size: 32px;
    color: #4d4d4d;
}

.text p{
    color: #4d4d4d;
    font-size: 20px;
    font-weight: lighter;
}

.text a{
    color: #4a90e2;
    text-decoration: none;
    font-size: 18px;
}

.orientation img{
    padding-top: 32px;
}


